OPENAI_API_KEY=
DEFAULT_MODEL=gpt-4o
DEFAULT_MODEL_COST_PER_1K_TOKENS_OUTPUT=0.01 
DEFAULT_MODEL_COST_PER_1K_TOKENS_INPUT=0.0025
MAX_REQUEST_COST=1
BATCH_SIZE=50
RETRY_COUNT=5
API_KEY=
CORS_ALLOW_ORIGINS=
TRANSLATION_ENDPOINT_SCRAMBLE=
JOB_ENDPOINT_SCRAMBLE=
MEDIA_BASE_PATHS=